.navbar {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navContainer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
}


.navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    margin-left: auto;
}

.navLinks a {
    font-weight: 500;
    color: var(--secondary-color);
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navLinks a:hover {
    color: var(--accent-color);
}

.menuIcon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--secondary-color);
}

@media screen and (max-width: 960px) {
    .navContainer {
        position: relative;
        width: 100%;
    }

    .navLinks {
        position: absolute;
        top: 100%;
        /* Positions it right below the navbar */
        left: 0;
        width: 100%;
        height: auto;
        /* Takes only necessary height */
        background-color: rgba(255, 255, 255, 0.969);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;
        z-index: 200;

        /* Dropdown animation state: hidden */
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: all 0.3s ease-in-out;

        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    }

    .navLinks.active {
        /* Dropdown animation state: visible */
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .navLinks a {
        font-size: 1.1rem;
        width: auto;
        /* Let link take natural width */
        display: block;
    }

    .menuIcon {
        display: block;
    }
}